* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 65px;
  display: grid;
  grid-template-columns: 368px 1fr 250px;
  padding: 0 10px;
  border-bottom: 1px solid #efefef;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 1;
}

.logo {
  fill: #e60023;
}

.logo:hover,
.menu a:hover {
  background: #020101;
  color: white;
}

.col-1,
.col-2,
.menu,
.col-3 {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-between;
}

.col-1 a {
  text-decoration: none;
}

.col-2 input[type="text"] {
  height: 35px;
  padding: 7px;
  font-weight: 500;
  font-size: 1em;
  border-radius: 25px;
  background: #efefef;
  color: #333;
  border: none;
  outline: none;
  width: 100%;
  margin: 10px;
}

.col-2 input[type="text"]:focus {
  box-shadow: 0 0 0 2px rgba(0, 132, 255, 0.5);
}

.menu {
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #8e8e8e;
  text-decoration: none;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  vertical-align: top;
}

.border {
  border-right: 2px solid #efefef;
  padding-right: 20px;
}

.menu .selected {
  color: #211922;
  font-size: 18px;
  font-weight: bold;
}

.col-3 {
  font-size: 22px;
}

main {
  margin-top: 85px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 10px;
  justify-content: center;
  padding-bottom: 10px;
}

.level-1 {
  grid-row-end: span 3;
}
.level-2 {
  grid-row-end: span 2;
}
.level-3 {
  grid-row-end: span 1;
}

.post {
  border-radius: 15px;
  cursor: zoom-in;
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
}

.post:hover .overlay {
  display: block;
}

.post .overlay a {
  text-decoration: none;
  position: absolute;
}

.btnSave {
  top: 10px;
  right: 10px;
  color: #fff;
  padding: 10px;
  background: #e60023;
  border-radius: 12px;
}

.btnPage {
  bottom: 10px;
  left: 10px;
  background: #f2f2f2;
  color: #585858;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}

.btnShare,
.btnMore {
  color: #585858;
  background: #f2f2f2;
  padding: 8px 8px;
  border-radius: 50%;
}

.btnShare {
  bottom: 10px;
  right: 10px;
}

.btnMore {
  bottom: 10px;
  right: 50px;
}

.postImage {
  margin: 0;
  height: 100%;
  width: 100%;
}

.postImage img {
  vertical-align: top;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media (max-width: 575.98px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px 10px 10px;
  }
}
